//Colors
$primary-color: #ec058e;
$secondary-color: #62bbc1;
$background-color: #ffc300;
$black-color: #010400;
$gray-color: #30332e;
$white: #fffbfc;

//Media querys
$phone: 640px;
$tablet: 768px;
$tablet-alt: 930px;
$desktop: 1200px;
