.payment {
      width: 90%;
      margin: 80px auto;
      min-height: 55vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .payment-content {
            width: 100%;
            @include tablet {
                  width: 600px;
            }
            h3 {
                  text-align: center;
                  font-size: 30px;
            }
            .payment-item {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-bottom: 15px;
            }
            .payment-button {
                  margin-top: 50px;
            }
      }
}
.payment-back {
      margin: 10px 0 0 0;
}

.payment-item .fas {
      margin: 0 0 0 10px;
      color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
}
.payment-item button {
      background-color: transparent;
      border: none;
      outline: none;
}
.payment-element {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid #eee;
}
.payment-element h4 {
      margin: 0;
}
